<br>
<br>
<h1>Editing Session</h1>

<%= render 'form', session: @session %>

<button class="button button-clear"><%= link_to 'Show', @session %></button>
<button class="button button-clear"><%= link_to 'Back', sessions_path %></button>
