<br>
<br>
<h1>Editing Participant</h1>
<button class="button button-outline"><%= link_to 'Show', @participant %></button>
<button class="button button-clear"><%= link_to 'Back', participant_path %></button>

<%= render 'form', participant: @participant %>
