<br>
<br>
<h1>Editing Mentor</h1>

<%= render 'form', mentor: @mentor %>

<button class="button button-clear"><%= link_to 'Show', @mentor %></button>
<button class="button button-clear"><%= link_to 'Back', mentors_path %></button>
