<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Mentor name:</strong>
  <%= @mentor.mentor_name %>
</p>

<button class="button button-outline"><%= link_to 'Edit', edit_mentor_path(@mentor) %></button>
<button class="button button-clear"><%= link_to 'Back', mentors_path %></button>
